@page "/categoria/adicionar"

<MudCard Elevation="25" Class="d-flex align-top flex-grow-1 border border-solid mud-border-default pa-4" >
    <MudStack row>
        <MudForm Model="@Categoria" @ref="@Form">
            <MudText Typo="Typo.h5" Color="Color.Info" Align="Align.Center">ADICIONAR NOVA CATEGORIA</MudText>            
            <br />
            <MudStack row AlignItems="AlignItems.Start" Style="width: 1600px">
               
                <MudTextField T="string" @bind-Value="Categoria.NomeCategoria" Placeholder="Digite o nome da categoria..." Label="Nome da Categoria" Variant="Variant.Outlined" Style="width: 300px"
                              Margin="Margin.Dense" Class="mx-4"></MudTextField>                
            </MudStack>
            <br />
            <MudStack row AlignItems="AlignItems.Center">
                <MudButton Variant="Variant.Filled" Color="Color.Info" DropShadow="false" OnClick="@(() => Adicionar())">Adicionar Categoria</MudButton>
                <MudButton Variant="Variant.Outlined" Color="Color.Info" DropShadow="false" Href="@($"/categoria")" Class="mx-4">Voltar à Página Inicial.</MudButton>
            </MudStack>
        </MudForm>
    </MudStack>
    <br />    

<MudChip T="string" Style="height:8px; width: 1650px; background-color:steelblue"></MudChip>
@if (ListaDeCategorias == null)
{
    <MudProgressCircular Color="Color.Error" Indeterminate="true" />
    <h2 style="color:indianred">Ocorreu um erro...</h2>
}
else
{
    <MudTable Elevation="0" Striped="false" Items="ListaDeCategorias" FixedHeader="@fixar_cabecalho" Height="@(fixar_cabecalho ?"540px":"")">   
    <HeaderContent>        
        <MudTh>Código</MudTh>
        <MudTh>Nome da Categoria</MudTh>       
    </HeaderContent>
    <RowTemplate>        
        <MudTd DataLabel="Código">@context.Id</MudTd>
        <MudTd DataLabel="Nome da Categoria">@context.NomeCategoria</MudTd>       
    </RowTemplate>   
    <PagerContent>
        <MudTablePager RowsPerPageString="Linhas por página: " HorizontalAlignment="HorizontalAlignment.Start" PageSizeOptions="new int[]{25, 50, 100}" />
    </PagerContent>
</MudTable>}
</MudCard> 
@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }
    private Categoria Categoria{ get; set; } = new Categoria();
    private IEnumerable<Categoria> ListaDeCategorias = new List<Categoria>();
    MudForm Form = new();
    bool fixar_cabecalho = true;
   
    protected override async Task OnInitializedAsync()
    {        
        await ObterCategorias();
    }

    private async Task<IEnumerable<Categoria>> ObterCategorias()
    {
        ListaDeCategorias = await categoriaService.ObterCategorias();
        return ListaDeCategorias;
    }

    private async Task Adicionar()
    {
        if (string.IsNullOrWhiteSpace(Categoria.NomeCategoria))
        {
            await dialogService.ShowMessageBox("Atenção!", "O nome da categoria é obrigatória e não pode estar vazio.", "Fechar");
            NavigationManager.NavigateTo("/categoria/adicionar");            
        }
        else  if (Categoria.Id <= 0)
        {
            await categoriaService.AdicionarCategoria(Categoria);
            Categoria = new Categoria();
            snackBar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
            snackBar.Add("Categoria adicionada com sucesso!", MudBlazor.Severity.Info);        
            await ObterCategorias();
        }
        else
        {
            NavigationManager.NavigateTo("Not found");
            await ObterCategorias();       
        }
    }    
}